body {
    margin: 0;
    background-image: url(img/wolf.jpg);
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo img {
    height: 125px;
    margin-top: 12px;
    object-fit: contain;
}

.card {
    width: 80%;
    border: unset !important;
}

.quiz-card {
    width: 100%;
    border-width: 1px;
}

.col-md-4 {
  background-color: #27355c;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-danger, .bg-success {
    color: white;
}

.btn {
    background-color: #27355c !important;
    border-color: #27355c !important;
}

.btn:hover {
    background-color: #121d3a !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.height-60vh {
    height: 60vh;
}

.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex {
    display: flex;
}

.finished-tropy {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    opacity: 0.5;
}

.btn-row {
    display: flex;
    justify-content: center;
}

.progress-bar {
    background-color: #27355c !important;
}


